*{
    margin: 0px;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;*/
}

/*Fuentes*/

@font-face {
  font-family: 'Cal Sans';
  src: url('/fonts/CalSans-Regular.woff2') format('woff2'),
      url('/fonts/CalSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.woff2') format('woff2'),
      url('/fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Estilos para títulos*/
h1, h2{
  font-family: 'Cal Sans';
  letter-spacing: 10px;
}

#titulo{
  font-family: "Bebas Neue";
  font-size: 150px;
  width:50%;
}

#subtitulo{
  font-family: "Bebas Neue";
  font-size: 15px;
  color: #fff;
}

/* ---------------------------------------------------- ESTILOS TEXT-HERO Y CARRUSEL */
.text-hero{
    display:flex;
}

.carrusel {
    position: relative;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.carrusel-imagenes {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-imagenes img {
    width: 100%;
    flex-shrink: 0;
}

.carrusel button.previo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carrusel button.siguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

button.previo {
    left: 10px;
}

button.siguiente {
    right: 10px;
}

.texto {
    left: 10%;
    position: absolute;
    top: 20%;
}

.subtexto{
  margin-block: 2%;
}

.cont_subtexto{
  width: 80%;
  margin:auto;
  margin-bottom:8%;
}

/* ------------------------------------- FIN ESTILOS TEXT-HERO Y CARRUSEL */

.custom-block-home-paddings{
    padding-top: 20px;
    background-image: url('/imagenes/lines.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
  }
  
  .grid-item {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .grid-item:hover {
    transform: scale(1.02);
  }
  
  .grid-item a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
  }
  
  .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  .overlay h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .overlay p {
    font-size: 1rem;
    line-height: 1.4;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .grid-section {
      grid-template-columns: 1fr;
    }
    /* fin del responsive */
    /* colores generales */
  }
  h1, h2, h3{
    text-align: center;
  }
  
  h1{
    color:#edcd45
    }
  h2{
    color:#636363
  }
  
  
  h3{
    color: #ebb235
    }
  
  p, h4{
    color: white;
  }
  /* fin de los colores genrales */
  /* Contenido principal del footer */
  .footer-list {
    list-style: none;
    padding: 30px 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px;
    padding-left: 300px;
  }
  
  .footer-list li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .footer-list li a:hover {
    color: #ebb235;
  }
  /* fin del contenido principal del footer*/
  /* Pie inferior con derechos de autor */
  .footer-bottom {
    background-color: #000;
    text-align: center;
    padding: 10px 0;
    color: gray;
  }
  /*fin del pie derecho del autor*/